<footer>
  <div class="footer-container">
    <div class="footer-content">
      <div class="footer-links">
        <span class="header-link-footer">Bistrô Brasil</span>
        <span class="content-link-footer">Portal do Parceiro</span>
        <span class="content-link-footer">Blog para Parceiros</span>
      </div>

      <div class="footer-links">
        <span class="header-link-footer">Descubra</span>
        <span class="content-link-footer">Cadastre seu restaurante</span>
        <span class="content-link-footer">Privacidade</span>
      </div>

      <div class="footer-links">
        <span class="header-link-footer">Saiba mais</span>
        <span class="content-link-footer">Cadastre seu mercado</span>
        <span class="content-link-footer">Código de conduta</span>
      </div>
    </div>

    <p class="copy">
      © Copyright 2025 - Bistrô Brasil - Todos os direitos reservados
    </p>
    <p>{{ textVar }}</p>
  </div>
</footer>
