header{
    background-color: white;
    padding: 0;
    border-bottom: 1px solid #1f1e1e;
}

header .logo{
    color: #4893cc !important;
}

header a {
    color: #383737b6;
    text-decoration: none;
}

header a:hover {
    transition: ease-in-out 0.3s;
    color: #60B5FF;
    cursor: pointer;
}

.container{
    /* border: 2px solid green ; */
    display: flex;
    justify-content: space-between;
}

a.logo{
    font-weight: bold;
    padding: 1em;
}

nav ul{
    list-style-type:none;
    margin: 0;
}

nav ul li a {
    padding: 1em;
    display: inline-block;
}

.form-control {
   width: 500px;
   height: 40px;
   margin-top: 10px;
}