header{
    background-color: white;
    padding: 0;
    border-bottom: 1px solid #777676;
}

header a {
    color: #af1313;
    text-decoration: none;
}

header a:hover {
    background-color: #e72929;
    color: white;
}

.container{
    /* border: 2px solid green ; */
    display: flex;
    justify-content: space-between;
}

a.logo{
    font-weight: bold;
    padding: 1em;
}

nav ul{
    list-style-type:none;
    margin: 0;
}

nav ul li a {
    padding: 1em;
    display: inline-block;
}

.form-control {
   width: 500px;
   height: 40px;
   margin-top: 10px;
}