<header class="">
    <div class="container">
        <a  routerLink="/" class="logo">TC Food Corner!</a>
       
        <!-- adicionando o input para realizar a pesquisa  -->
        <input 
        class="form-control "
        type="search" placeholder="Pesquisar" 
        aria-label="Pesquisar">
        <nav>
            <ul class="d-flex flex-row">
                <li>
                    <a  routerLink="/categorias" routerLinkActive="active">Categorias</a>
                </li>
                <li>
                    <a routerLink="/cart-page">Cart</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
