header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #fff;
  border-bottom: 1px solid #1f1e1e;
  z-index: 999;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

nav {
  gap: 200px;
  padding-top: 4px;
}

nav a {
  font-size: 15px;
  cursor: pointer;
}

header a:hover {
  transition: ease-in-out 0.3s;
  color: #60b5ff;
  cursor: pointer;
  border-bottom: 1px solid #60b5ff;
}

.form-control {
  width: 300px;
  height: 40px;
  margin-top: 10px;
}

nav .navClick {
  font-size: 15px;
  cursor: pointer;
}

header .navClick:hover {
  transition: ease-in-out 0.3s;
  color: #60b5ff;
  cursor: pointer;
  border-bottom: 1px solid #60b5ff;
}
