<div class="product-card">
  <div class="card-image-wrapper">
    <img [src]="produto.imageUrl" [alt]="produto.name" class="card-img" loading="lazy" />
    <span class="discount-badge" *ngIf="desconto > 0">-{{ desconto }}%</span>
    <button mat-icon-button class="favorite-btn" [class.is-favorite]="produto.favorite" (click)="favoritarProduto(produto)">
      <mat-icon>{{ produto.favorite ? 'favorite' : 'favorite_border' }}</mat-icon>
    </button>
  </div>

  <div class="card-content">
    <div class="card-header">
      <span class="category-pill">{{ produto.category }}</span>
      <div class="rating">
        <mat-icon class="star-icon">star</mat-icon>
        <span>{{ produto.star }}</span>
      </div>
    </div>
    
    <h4 class="product-title" [title]="produto.name">{{ produto.name }}</h4>
    
    <div class="price-section">
      <div class="prices">
        <span class="old-price" *ngIf="exibirPromocao">R$ {{ produto.price | number:'1.2-2' }}</span>
        <span class="current-price" *ngIf="exibirPromocao">R$ {{ produto.valorPromocional | number:'1.2-2' }}</span>
        <span class="current-price" *ngIf="!exibirPromocao && exibirPreco">R$ {{ produto.price | number:'1.2-2' }}</span>
      </div>
      
      <button class="add-to-cart-btn" (click)="openDetalheProduto()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>
