<div class="main-content">
    <ul>
        <li >
            <div class="produto-card">
                <img src="{{ produto.imageUrl }}" alt="Imagem do produto" />
                <div class="content">
                  <h4>{{ produto.name }}</h4>
                  <p>{{ produto.category }}</p>
                  <div class="contentfavorite d-flex justify-content-between  ">
                    <p>R$ {{ produto.valorOriginal}}</p>
                    <button (click)="favoritarProduto(produto)" class="btn-favoritar">❤️</button>
                  </div>
                </div>
              </div>
        </li>
    </ul>
</div>





