

ul li a {
  display: flex;
  flex-direction: column;
  height: 15rem;
  width: 15rem;
  overflow: hidden;
  border-radius: 1rem;
  border: 1px solid whitesmoke;
  color: #070707;
  margin: 0.5rem;
  margin-top: 40px;
}

ul li a img {
  height: 50%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.content {
  height: 30%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
