<div class="container-main d-flex flex-column justify-content-center align-items-center">
     <div class="container-content">
        <div class="mercado categorias">
          <div class="text-content">
               <h1>Opções de Mercado </h1>
          </div>
          <div class="content-card">
               <app-card-produto>

               </app-card-produto>
          </div>
        </div>
        <div class="farmacia categorias">
          <div class="text-content">
               <h1>Opções de Mercado </h1>
          </div>
          <div class="content-card">
               <app-card-produto>

               </app-card-produto>
          </div>
        </div>
        <div class="farmacia categorias">
          <div class="text-content">
               <h1>Opções de Mercado </h1>
          </div>
          <div class="content-card">
               <app-card-produto>

               </app-card-produto>
          </div>
        </div>
        <div class="farmacia categorias">
          <div class="text-content">
               <h1>Opções de Mercado </h1>
          </div>
          <div class="content-card">
               <app-card-produto>

               </app-card-produto>
          </div>
        </div>
        <div class="farmacia categorias">
          <div class="text-content">
               <h1>Opções de Mercado </h1>
          </div>
          <div class="content-card">
               <app-card-produto>

               </app-card-produto>
          </div>
        </div>
     </div>
</div>

